<div class="background" [ngClass]="ismodalopen ? 'displaynone' : 'displayflex'">
  <section class="sectionlogo" [ngClass]="editar_active ? 'boton-show' : 'boton-noshow'"> <!-- [ngClass]="editar_active ? 'boton-show' : 'boton-noshow' --> 
    <div class="innerlogo">
      <img src="assets/header/APLogo-20-20.png" alt="logo" />
    </div>
  </section>

  <section class="sectionpicture">
    
    <div class="botones-container"  *ngIf="editar_active">

      <app-file-upload
      class="input-field"
      id="img"
      (change)="onSave($event)"
      name="imagen"
      *ngIf="editar_active ? ESADMIN == 'ADMIN' && imageid == null : '' ">
      </app-file-upload>

      <app-file-update
      (change)="onUpdate($event)"
      *ngIf="editar_active ? ESADMIN == 'ADMIN' && imageid != null : '' ">
      </app-file-update>

      <app-file-delete
      [swal]="alertOpt"
      (confirm)="confirmarDeleteimg($event)"
      *ngIf="editar_active ? ESADMIN == 'ADMIN' && imageid != null : '' ">
      </app-file-delete>

    </div>

   
    <div class="innerpicture">

      <div class="contenedor">

        <i
        (click)="editar_active = !editar_active" 
        *ngIf="ESADMIN === 'ADMIN' && !editar_active" 
        class='bx bx-comment-edit' 
        matTooltip="editar imagen">
        </i>

        <i (click)="editar_active = !editar_active" *ngIf="editar_active" class='bx bx-window-close' matTooltip="cerrar editar imagen"></i>

        <img
          *ngIf="imageid == null"
          src="assets/header/img-perfil.png"
          alt="avatar usuario"
        />

        <img *ngIf="imageid != 0" [src]="asyncimage | async" />
       
      </div>
    </div>
  </section>

  <section
    class="sectionpictureusuario"
    *ngIf="ESADMIN == 'ADMIN' && logueado == 'SILOGUEADO'"
  >
    <div class="innerpictureusuario">
      <img
        type="file"
        *ngIf="!perfilimagen"
        src="assets/header/img-perfil.png"
        alt="avatar usuario"
      />

      <img *ngIf="perfilimagen" [src]="perfilimagen" alt="avatar usuario" />
      <i
        class="bx bx-edit-alt icon2"
        *ngIf="ADMIN == 'ADMIN' && estalogueado"
      ></i>
    </div>
  </section>

  <section *ngIf="!editar_active" class="sectionsociales">

    <div class="iconos">
      <div class="p-container">
        <div class="bienvenidocontainer">

          <div class="titulorol">
            <h3>{{ESADMIN}}</h3> 
          </div>
          
          <button
            [disabled]="ismodalopen"
            *ngIf="logueado == 'NOLOGUEADO'"
            class="titulo"
            (click)="openDialog()"
          >
            Iniciar Session
          </button>

          <button
            [disabled]="false"
            *ngIf="logueado == 'SILOGUEADO'"
            class="titulo"
            (click)="cerrarsession()"
          >
            Cerrar Session
          </button>
        </div>

        <div class="containeruserlogo">
          <div class="usuariocontainer">
            <p *ngIf="estalogueado" class="username">
              Bienvenido: {{ nombreusuario }}
            </p>
          </div>

          <div class="img-container">
            <img
              *ngIf="false"
              src="assets/header/sociales/bxl-linkedin-square.png"
              alt="linkedin logo"
            />
            <i *ngIf="false" class="bx bx-log-out"></i>
          </div>
        </div>
      </div>
    </div>
  </section>


</div>

<hr />