<section class="container">
  <!--
  <h2 class="colorrojo">
    VER EL ROLE DEL USUARIO:
    <pre>{{ ESADMIN }}</pre>
  </h2>

  <h2 class="colorrojo">
    VER SI EL USUARIO ESTA LOGUEADO:
    <pre>{{ estalogueado }}</pre>
  </h2>
  -->

  <form
    [formGroup]="form"
    (ngSubmit)="onSubmit()"
    class="form"
    onsubmit="return false"
    autocomplete="off"
  >

    <div class="bannerback" id="trigger-sobremi-h2">
      <div
        class="imgcontainer"
        [ngClass]="editaricon_isshow ? 'class-editarfalse' : 'class-editartrue'"
      >
        <div class="icono-editarcontainer">
          <div class="inner-container" *ngIf="ESADMIN == 'ADMIN'">
            <i
              *ngIf="editaricon_isshow"
              (click)="editaricon_isshow = !editaricon_isshow"
              class="bx bx-paint-roll"
            ></i>

            <i
              *ngIf="!editaricon_isshow"
              (click)="editaricon_isshow = !editaricon_isshow"
              class="bx bx-window-close"
            ></i>
          </div>
        </div>

        <!-- PARA CUANDO ESTE LOGUEADO -->
        <!-- <iframe src="/assets/sobremi/testinglogo1.png" frameborder="0"></iframe> -->

        <input type="hidden" formControlName="portada" />

        <div
          *ngIf="ESADMIN === 'ADMIN' && !editaricon_isshow"
          class="editarbotones"
        >
          <div *ngIf="portadaimage !== ''" class="actualizarcontainer">
            <button mat-raised-button color="secondary"><label for="file_input_update">Actualizar</label></button>
            <input
              (change)="actualizarimg($event)"
              accept="image/*"
              type="file"
              class="file-input__input"
              id="file_input_update"
              style="display: none;"
            />
          </div>

          <div *ngIf="portadaimage == ''" class="agregarcontainer">
            <button><label for="file_input_agregar">Agregar</label></button>
            <input
              (change)="agregarimg($event)"
              accept="image/*"
              type="file"
              class="file-input__input"
              id="file_input_agregar"
              style="display: none;"
            />
          </div>

          <div *ngIf="portadaimage !== ''" class="eliminarcontainer">
            <!--*ngIf="portadaimage != null"-->

            <!--
            <label for="file_input_eliminar"></label>

            <button
              (click)="onDelete()"
              class="file-input__input"
              id="file_input_eliminar"
            >
              eliminar
            </button>
            -->

          </div>
        </div>

        <!-- PARA CUANDO ESTE LOGUEADO -->

        <!-- PARA CUANDO ESTE LOGUEADO -->
        <ng-container
          *ngIf="portadaimage != ''; else elseNoImg";
          class="imgcontainer"
        >
          <img
            [src]="portadaimage"
            [ngClass]="
              ESADMIN === 'ADMIN' ? 'opacidadimg-true' : 'opacidadimg-false'
            "
          />
        </ng-container>

        <!--NO IMG -->
        <ng-template #elseNoImg>
          <img src="assets/sobremi/logo_transparente.png" />
        </ng-template>

        <!-- <video src="assets/utilities/videotipo1.mp4"></video> -->
      </div>

      <!-- <h1 >{{titulomessage}}</h1> -->

      <div class="descripcion">
        <div class="innerdescripcion">
          <div class="titulo-contenedor">
            <div
              class="inner-titulo-contenedor"
              data-aos="fade-right"
              data-aos-duration="2700"
            >
              <ng-container *ngIf="show; then guardarfalse; else editartrue">
              </ng-container>

              <input
                *ngIf="ESADMIN == 'ADMIN' && show"
                formControlName="titulo"
                [readonly]="false"
                type="text"
              />

              <!--<span *ngIf="true">{{testvar}}</span>  [(ngModel)]="testvar"  <p  class="bg-danger" *ngIf="titulo.invalid && titulo.touched">Ingresar titulo</p>-->

              <h2 *ngIf="!show">{{ titulomessage }}</h2>

              <ng-template #guardarfalse>
                <i
                  (click)="saveTitulo()"
                  (click)="show = !show"
                  *ngIf="ESADMIN == 'ADMIN'"
                  class="bx bxs-save icon2"
                >
                </i>

                <i
                  (click)="show = !show"
                  *ngIf="ESADMIN == 'ADMIN'"
                  (click)="cerrartitulo()"
                  class="bx bx-arrow-back"
                >
                </i>
              </ng-template>

              <ng-template #editartrue>
                <i
                  *ngIf="ESADMIN == 'ADMIN' && !show"
                  class="bx bx-edit-alt icon3"
                  (click)="show = !show"
                  #editar
                ></i>
              </ng-template>

              <!--
              <div > 

                <h2>ESSS: .... {{show}}</h2>
                
                <i
                (click)="show = !show"
                *ngIf="ESADMIN == 'ADMIN' && !show"
                class="bx bx-edit-alt icon2"
                ></i> 
              

              </div>
              -->
            </div>

            <!--*ngIf="ESADMIN == 'ADMIN' && estalogueado;-->

            <!--data-aos-anchor-placement="top-top" 
          data-aos-anchor="#trigger-sobremi-h2" -->
          </div>

          <!-- subtitulo  o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o  o o o o o o   -->

          <div
            class="subtitulo-contenedor"
            data-aos="fade-left"
            data-aos-duration="3000"
          >
            <textarea
              *ngIf="ESADMIN == 'ADMIN' && showsubtitulo"
              formControlName="subtitulo"
              type="text"
            >
            </textarea>

            <p *ngIf="!showsubtitulo">{{ subtitulomessage }}</p>

            <ng-container
              *ngIf="
                showsubtitulo;
                then guardarfalsesubtitle;
                else editartruesubtitle
              "
            >
            </ng-container>

            <ng-template #guardarfalsesubtitle>
              <i
                (click)="saveSubtitulo()"
                (click)="showsubtitulo = !showsubtitulo"
                *ngIf="ESADMIN == 'ADMIN'"
                class="bx bxs-save icon2"
              ></i>

              <i
                (click)="showsubtitulo = !showsubtitulo"
                *ngIf="ESADMIN == 'ADMIN'"
                (click)="cerrarsubtitulo()"
                class="bx bx-arrow-back"
              ></i>
            </ng-template>

            <ng-template #editartruesubtitle>
              <i
                class="bx bx-edit-alt icon3"
                *ngIf="ESADMIN == 'ADMIN'!; showsubtitulo"
                (click)="showsubtitulo = !showsubtitulo"
              ></i>
            </ng-template>

            <!--*ngIf="ESADMIN == 'ADMIN' && estalogueado;-->
          </div>
        </div>
      </div>
    </div>
  </form>

  <!--
  <div class="custom-shape-divider-bottom-1647393674">
    <svg
      data-name="Layer 1"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 1200 120"
      preserveAspectRatio="none"
    >
      <path
        d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z"
        class="shape-fill"
      ></path>
    </svg>
  </div>
  -->
</section>

<!-- ACA VAMOS A TENER QUE BORRAR LO DE ABAJO.... -->

<!--<div class="container row">
  <div class="col-md-12">
      <h1>Upload Image</h1>
  </div>
</div>

<div class="container row">
  <div class="col-md-6">
      <input type="file" (change)="onFileChanged($event)">

  </div>
  <div class="col-md-6">
      <input type="button" (click)="subirImagen()" value="upload">
  </div>
</div>
<hr />
<div class="container row">
  <div class="col-md-12">
      <div *ngIf=message>{{message}}</div>
  </div>
</div>

<div class="container row">
  <div class="col-md-6">
      <input type="text" class="form-control" id="name" placeholder="image name" [(ngModel)]="imageName"
          name="name" />
  </div>
  <div class="col-md-6">
      <input type="button" (click)="getImage()" value="Get Image">

  </div>
</div>

<div class="container row">
  <div class="col-md-12">
      <div *ngIf=retrievedImage>
          <img [src]="retrievedImage">
      </div>
  </div>
</div> -->
