<div class="example-container">
    <mat-form-field>
      <input matInput placeholder="Cambiar Titulo">
    </mat-form-field>
  
    <mat-form-field>
      <textarea matInput placeholder="Cambiar descripcion"></textarea>
    </mat-form-field>

    <mat-divider></mat-divider>
  
    <mat-form-field>
      <button mat-raised-button color="primary">Guardar</button>
        <!--
      <mat-select placeholder="Select">
        <mat-option value="option">Option</mat-option>
      </mat-select>
      -->
    </mat-form-field>
    
  </div>