$--space-root: .6rem;
$--space-xs: $--space-root / 2;
$--space-s: $--space-root / 1.5;
$--space-m: $--space-root;
$--space-l: $--space-root * 1.5;
$--space-xl: $--space-root * 2;
$--color-primary: mediumslateblue;
$--color-secondary: black;
$--color-tertiary-alta: rgb(110, 8, 110);
$--base-border-radius: 0.25rem;
$--ease: cubic-bezier(0.075, 0.82, 0.165, 1);
$--duration: 350ms;
$--font-family: 'Roboto', sans-serif;
$--font-size: 1.25rem;