<div class="container">
  <div class="innercontainer">
    <!-- contenedor interno -->

      <!--
    <div class="innercontainer_icons">
     iconos
      <div class="innercontainer_icons--icono1"></div>

      <div class="innercontainer_icons--icono2"></div>
    </div>

     -->

     <div class="texto_container">

      <h2>gaston aleja</h2>

      <div class="icons">
        <img  src="assets/header/sociales/bxl-github.png" alt="github logo">
        <img src="assets/header/sociales/bxl-linkedin-square.png" alt="linkedin logo">
      </div>

     </div>
     

    <!-- textos -->
    <div class="innercontainer_textos">
        
      <div class="innercontainer_textos--col1">

        <!-- TEXTOS INSIDER -->
        <div class="innercontainer_textos--titulo">
          <p>Contactos</p>
        </div>

        <div class="innercontainer_textos--subtitulo jumbotron bg-danger">

          <ul>
            <li><a href="#">mi link 1</a></li>
            <li><a href="#">mi link 2</a></li>
            <li><a href="#">mi link 3</a></li>
          </ul>

        </div>

      </div>

      <div class="innercontainer_textos--col2">

        <div class="innercontainer_textos--titulo">
          <p>Contactos2</p>
        </div>

        <div class="innercontainer_textos--subtitulo">

          <ul>
            <li><a href="#">mi link 5</a></li>
            <li><a href="#">mi link 6</a></li>
          </ul>

        </div>
      </div>
    </div>
  </div>
</div>
