
<!-- <h1>{{ ESADMIN }}</h1> -->

<div class="all">

  <div class="wave-contenedor">
    <div class="custom-shape-divider-top-1647453293">
      <!-- imagen tres lineas-->
      <div class="img-lineas">
        <img
          data-aos="flip-left"
          data-aos-easing="ease-out-cubic"
          data-aos-duration="2000"
          src="assets/utilities/treeline-white.svg"
          alt="tres lineas"
        />
      </div>

      <svg
        data-name="Layer 1"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 1200 120"
        preserveAspectRatio="none"
      >
        <path
          d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z"
          class="shape-fill"
        ></path>
      </svg>
    </div>
  </div>

  <div data-aos="fade-down" data-aos-duration="2500" class="titulo">

    <ng-container *ngIf="showtitulo; then guardarfalse; else editartrue"></ng-container>

    <!--INPUT PARA EL TITULO -->
    <input
    *ngIf="ESADMIN == 'ADMIN' && showtitulo"
    formControlName="titulo"
    [readonly]="false"
    type="text"/>

    <p *ngIf="!showtitulo">{{titulomessage}}</p>

    <ng-template #guardarfalse>

      <i
      (click)="saveTitulo()"
      (click)="showtitulo = !showtitulo"
      *ngIf="ESADMIN == 'ADMIN'"
      class="bx bxs-save icon2">
      </i>

      <i
      (click)="showtitulo = !showtitulo"
      *ngIf="ESADMIN == 'ADMIN'"
      (click)="cerrartitulo()"
      class='bx bx-arrow-back'>
      </i>

    </ng-template>

     <ng-template #editartrue>

      <i
      *ngIf="ESADMIN == 'ADMIN' && !showtitulo"
      class="bx bx-edit-alt icon3"
      (click)="showtitulo = !showtitulo"
      #editar>
      </i>

     </ng-template>

      <!-- LOG IN 
      <i *ngIf="ESADMIN == 'ADMIN'" class='bx bx-edit-alt icon-edit1'></i> -->
   </div>

   <div class="cards">

    <div *ngIf="ESADMIN == 'ADMIN'" class="btn-admin">

      <i 
      *ngIf="cardlistdatabase.length !== 0"
      [swal]="sweetAlertOptions"
      (confirm)="alertdelete()"
      matTooltip="Eliminar Todo" 
      class='bx bxs-trash icon-edit3'>
      </i>

      <i 
      matTooltip="agregar experiencia" 
      *ngIf="!showcardinput" 
      class="bx bxs-save nuevacard" 
      (click)="showcardinput = !showcardinput"></i>

      <i 
      *ngIf="showcardinput" 
      class="bx bx-arrow-back nuevabackcard" 
      (click)="showcardinput = !showcardinput"></i>

    </div>

    <!-- <h1>el showcardinut es: {{showcardinput}}</h1> -->

    <ng-template [ngIf]="showcardinput"> 

    <!-- ESTE FORM SERA DE CREAR NUEVOS--> 
    
    <form 
      [formGroup]="form"
      (ngSubmit)="crearnuevacardsubmit()"
      class="form newformexp"
      onsubmit="return false"
      autocomplete="off">
    
      <label for="tiulocard">Ingresar Titulo</label>
      <input type="text" formControlName="titulocard" id="titulocard">
      <span></span>

      <label for="subtitulocard">Ingresar Subtitulo</label>
      <input type="text" formControlName="subtitulocard" id="subtitulocard">

      <label class="imagencard-label" for="imagencard">INGRESAR LA IMAGEN</label>

      
      <p *ngIf="cargoimagen" style="color: green;">Imagen cargada</p>

      <p *ngIf="!cargoimagen" style="color: red;">Imagen no cargada</p>

      <input
      (change)="subirimagen($event)"
      type="file"
      accept="image/*"
      formControlName="imagencard"
      id="imagencard"
      style="display: none;"/>

      <button>Crear</button>
    
    </form>


    <!--<img *ngIf="imagecardPreviewts.length > 40" class="imagenpreview" [src]="imagecardPreviewts" alt="imagen de preview">-->

   </ng-template>

    <!-- <cdk-virtual-scroll-viewport itemSize="400" class="card shadow-1 card1"> -->
    
   <div class="card shadow-1 card1" *ngIf="!showcardinput">
  
   <h1 *ngIf="cardlistdatabase.length == 0">NO HAY INFORMACION PARA MOSTRAR</h1>

    <!-- <img [src]="cardlistdatabase.imagencardString" /> -->
   
    <!-- <mat-card *cdkVirtualFor="let cardlist of cardlistdatabase -->
    <mat-card *ngFor="let cardlist of cardlistdatabase, 
      let i = index;
      let par = even;
      let impar = odd; 
      "[ngClass]="{backgroundPar: par, backgroundImpar:impar}"
      >

      <!--CERRAR CARD -->
     
      <form 
      [formGroup]="formcardedit"
      (ngSubmit)="actualizarcardsubmit()"
      class="form"
      autocomplete="off">

        <div class="cerrarcard-container">

         <i
         matTooltip="Eliminar esta card"
         [swal]="sweetAlertOptions"
         (confirm)="alertborracardporid(cardlist.id)"
         *ngIf="ESADMIN === 'ADMIN'"
         class='bx bx-window-close cerrarcard'></i>
        </div>
    
        <mat-card-title class="card-title">

          <p *ngIf="!toggle_titulo[i]" > <!-- data-aos="fade-right" data-aos-duration="2900" retomar -->
            {{cardlist.titulo}}
          </p>

          <input 
          *ngIf="toggle_titulo[i]" 
          formControlName="tituloeditcard" 
          id="titulocardedit" type="text"
          [ngModel]="cardlist.titulo">
  
          <!-- LOG IN -->
          <ng-template [ngIf]="ESADMIN == 'ADMIN'">
            <i 
            matTooltip="editar titulo"
            (click)="toggle_titulo[i] = !toggle_titulo[i]" 
            *ngIf="!toggle_titulo[i]" 
            class='bx bxs-edit-alt icon-edit2 editar'></i>

            <i 
            matTooltip="guardar titulo"
            (click)="ActualizarTitulo(cardlist.id)" 
            (click)="toggle_titulo[i] = !toggle_titulo[i]"
            class="bx bxs-save icon-edit3 guardar" 
            *ngIf="toggle_titulo[i]"></i>

            <i 
            (click)="toggle_titulo[i] = !toggle_titulo[i]" 
            *ngIf="toggle_titulo[i]" 
            class='bx bx-arrow-back icon-edit3 cerrar'></i>
          </ng-template>
          
  
        </mat-card-title>
  
        <mat-card-subtitle class="card-parrafo"> <!--  data-aos="fade-up" data-aos-duration="2400" retomar-->
  
          <div class="subtitulocontenedor">
            <p *ngIf="!toggle_subtitulo[i]" id="p">
              {{cardlist.subtitulo}}
            </p>
          </div>
          

          <input 
          *ngIf="toggle_subtitulo[i]" 
          formControlName="subtituloeditcard" 
          [ngModel]="cardlist.subtitulo"
          id="subtitulocardedit"
          type="text"
          
          >
  
          <!-- LOG IN -->
          <ng-template [ngIf]="ESADMIN == 'ADMIN'">

          <div class="iconoscontenedores">

            <i
            matTooltip="editar subtitulo" 
            *ngIf="!toggle_subtitulo[i]" 
            (click)="toggle_subtitulo[i] = !toggle_subtitulo[i]" 
            class='bx bx-edit icon-edit3 editar'></i>

            <i
            matTooltip="guardar subtitulo"
            *ngIf="toggle_subtitulo[i]"
            (click)="ActualizarSubtitulo(cardlist.id)" 
            (click)="toggle_subtitulo[i] = !toggle_subtitulo[i]" 
            class="bx bxs-save icon-edit3 guardar" ></i>

            <i
            matTooltip="volver atras"
            (click)="toggle_subtitulo[i] = !toggle_subtitulo[i]" 
            *ngIf="toggle_subtitulo[i]" 
            class='bx bx-arrow-back icon-edit3 cerrar'></i>
          

          </div>
            

          </ng-template>
          
  
        </mat-card-subtitle>
  
        <mat-card-content class="card-img"> <!-- data-aos="fade-down" data-aos-duration="2000" retomar -->
  
          <div class="container-img">
  
            <div class="imgcontainer">

              <img
              *ngIf="!toggle_imagen[i]"
              mat-card-image
              [src]="('data:image/jpg;base64,' + cardlist.imagencardString)"
              intrinsicsize="200x90"
              alt="imagen exp"/>

            </div>
           
  
            <!-- LOG IN -->
            <ng-template [ngIf]="ESADMIN == 'ADMIN'">

              <div class="inputcontainer">

               <!-- <i for="subirimagencard" class='bx bxs-balloon'>reiaaaa</i> -->
                <!-- <label for="subirimagencard"><i class='bx bxs-balloon'></i></label> -->

                <label 
                matTooltip="actualizar imagen" 
                class="btn btn-secondary" 
                for="{{'subirimagencard '+i}}">ACTUALIZAR</label>

                <input
                (change)="ActualizarImg(cardlist.id ,$event)"
                type="file"
                accept="image/*"
                formControlName="editarimagencard"
                id="{{'subirimagencard '+i}}"
                style="display: none;"/>

              </div>
             
            </ng-template>
  
          </div>
          
        </mat-card-content>

        
        <!-- BOTTON DEL SUBMIT INSIDE CARDS 
        <div class="btn-container">
          <button *ngIf="ESADMIN === 'ADMIN' ">ACTUALIZAR CARDS</button>
        </div>
        -->

        
      </form>

      </mat-card>

    </div>

   <!-- </cdk-virtual-scroll-viewport> -->

  </div>
</div>