//color configurations

  //circulo 
  $--footer-bg-selected-circle:#00000059;
  $--footer-bg-noselected-circle: transparent;

  $--footer-bg-icon-sobremi: #008e8882;
  $--footer-bg-icon-sobremi-circle: #32bbb4;

  $--footer-bg-icon-experiencia: #295782;
  $--footer-bg-icon-experiencia-circle: #1f74c3;

  $--footer-bg-icon-education: #6317FA;
  $--footer-bg-icon-education-circle: #6317FA;

  $--footer-bg-icon-proyecto: #008000;
  $--footer-bg-icon-proyecto-circle: #008000;

  $--footer-bg-icon-softskill: #F03B4E;
  $--footer-bg-icon-softskill-circle: #F03B4E;