


#modal-content-wrapper {

    display: flex;
    width: 100%;
    height: 100%;
    color: white;
    //background-color: red;
    justify-content: center;
    flex-direction: column;
}

#modal-header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blueviolet;
    height: 20%;
}

#modal-body {
    //background-color: greenyellow;
    height: 80%;
}

#modal-title {
    font-size: 22px;
}

#modal-footer {
    //justify-self: right;
    //align-self: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    height: 20%;
}

#modal-action-button {
    //margin-right: 30px;
    background-color: grey;
    color: white;
}

#modal-cancel-button {
    background-color: #4e4e4e;
    color: white;
}



/* .slideThree */
.slideThree {
    width: 80px;
    height: 26px;
    background: #333;
    margin: 20px auto;
    position: relative;
    border-radius: 50px;
    box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
    &:after {
      content: 'OFF';
      color: #000;
      position: absolute;
      right: 10px;
      z-index: 0;
      font: 12px/26px Arial, sans-serif;
      font-weight: bold;
      text-shadow: 1px 1px 0px rgba(255,255,255,.15);
    }
    &:before {
      content: 'ON';
      color: blue;
      position: absolute;
      left: 10px;
      z-index: 0;
      font: 12px/26px Arial, sans-serif;
      font-weight: bold;
    }
    label {
      display: block;
      width: 34px;
      height: 20px;
      cursor: pointer;
      position: absolute;
      top: 3px;
      left: 3px;
      z-index: 1;
      background: #fcfff4;
      background: linear-gradient(to button, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
      border-radius: 50px;
      transition: all 0.4s ease;
      box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
    }
    
  
    input[type=checkbox] {
      visibility: hidden;
      &:checked + label {
        left: 43px;
      }
    } 
}